<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width = device-width, initial-scale = 1">
    <title>SRI Scholarship | {{ title }}</title>
  </head>

  <body>
    <header>
      SRI
      <a href="{{ url_for('index') }}">Home</a>
      {% if current_user.is_anonymous %}
        <a href="{{ url_for('login') }}">Log In</a>
      {% else %}
        <a href="{{ url_for('profile') }}">My Profile</a>
        <a href="{{ url_for('logout') }}">Log Out</a>
      {% endif %}
    </header>

    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <ul>
          {% for message in messages %}
            <li>
              {{ message|safe }}
            </li>
          {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}

    {% block content %}
    {% endblock %}
  </body>
</html>
